body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #999;
    background-image: url('../img/NoseGray.png');
    background-repeat: repeat;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.biggetjes-verhaal {
    color: whitesmoke;
}

.main-content {
    text-align: center;
    margin-top: 125px;
}

header {
    background-color: #333;
    color: #fff;
    opacity: 0.75;
    padding: 30px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    justify-content: space-between;
    align-items: center;
}

nav {
    margin-left: auto;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    display: inline;
    margin-right: 85px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}

nav a:hover {
    color: #AAAAFF;
}

.logo {
    width: 115px;
    position: absolute;
    /*bottom: 0;*/
    top: 23px;
    left: 15;
    /*margin-bottom: -10px;*/
}

.stempel-image {
    width: 500px;
    margin-bottom: 20px;
}

.image-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.house-image {
    width: 250px;
    margin-right: 15px;
    margin-left: 15px;
}

.button-image {
    width: 200px;
    margin-right: 15px;
    margin-left: 15px;
}

@media (max-width: 850px) {
    .image-container {
        flex-direction: column;
        align-items: center;
    }

    .house-image {
        margin-right: 0;
        margin-bottom: 20px;
    }
}
